body {
    margin: 0;
    height: 100vh;
    background: url("fondo.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.box {
    background: rgba(0,0,0,0.75);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 30px purple;
    color: white;
}

h1 {
    color: #b026ff;
    margin-bottom: 10px;
}

button {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, purple, deeppink);
    color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}
